*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo{
    width: 568px;
    height: 500px;
    margin-left: 10px;
    display: inline-block;
}

header{
    margin: 44px 0 90px 76px;
}

.button-header{
    background: #665ae1;
    border-radius: 20px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    cursor: pointer;
}

.link-header{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;
}

section{
    display: inline-block;
    margin-left: 86px;
}

h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2{
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main{
    background: #adff00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0 0 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000;
}
@media screen and (max-width: 500px) {
    .img-logo{
        width: 50vh;
        height: auto;
        display: block;
        position: static;
        margin: 100px 10px 25px 10px;
    }

    section{
        display: block;
        width: 40vh;
        margin: 0 100px 
    }

    header{
        display: none;
    }

    p{
        display: none;
    }

    h1{
        font-size: 50px;
        line-height: normal;
    }

    h2{
        font-size: 30px;
        line-height: normal;
        margin-bottom: 20px;
    }
}